# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
external-dns.yaml

# Local configurations
.env
.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
node_modules/
vendor/
.npm/

# Log files
*.log
logs/
npm-debug.log*

# Build outputs
dist/
build/
out/

# Miscellaneous
.DS_Store
.Trashes
Thumbs.db